<div class="container footer-container">

  <div class="row p-5">

    <div class="col-6">

      <div class="row">
        <div class="col ps-0">
          <h6 class="section-header">
            Socials
          </h6>
        </div>
      </div>

      <div class="row mb-2
        d-flex
        justify-content-center">
        <div class="col-1 d-flex justify-content-end">
          <img class="social-icon" src="/assets/images/socials/gmail.png">
        </div>
        <div class="col d-flex align-items-center">
          <a href="mailto:alhammi.aliff@gmail.com">
            alhammi.aliff&#64;gmail.com
          </a>
        </div>

      </div>

      <div class="row">
        <div class="col-1 d-flex justify-content-end">
          <img class="social-icon" src="/assets/images/socials/linkedin.png">
        </div>
        <div class="col d-flex align-items-center">
          <a href="https:/linkedin.com/in/alhammialiff/">
            linkedin.com/in/alhammialiff/
          </a>
        </div>
      </div>
    </div>

    <div class="col">

      <div class="row">
        <div class="col ps-0">
          <h6 class="section-header">
            Repo
          </h6>
        </div>
      </div>

      <div class="row mb-2
        d-flex
        justify-content-center">
        <div class="col-1 d-flex justify-content-end">
          <img class="social-icon" src="/assets/images/socials/github.png">
        </div>
        <div class="col d-flex align-items-center">
          <a href="https://github.com/alhammialiff/ai-learning-canvas">
            github.com/alhammialiff/ai-learning-canvas
          </a>
        </div>

      </div>
    </div>

  </div>
</div>
