// table{

//   padding: 20px;
//   border: 1px solid rgb(174, 123, 19);
//   border-radius: 12px;
//   border-collapse:separate;

//   tr{

//     border: 1px solid rgb(174, 123, 19);

//   }

//   .scrollable-container{

//     height: 300px;
//     overflow-y: scroll;

//   }


// }

.main-table-grid{

  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  // padding: 10px;

}

.data-grid-container{

  height: 400px;
  overflow: scroll;
  text-align: center;
  // padding: 10px;

}

.attribute-grid{

  border: 1px solid rgb(7, 80, 7);
  background-color: rgb(7, 80, 7);
  text-align: center;
  color: white;
  padding: 10px;

}

.data-grid-row:nth-child(odd){
  background-color: rgb(212, 212, 212);
}

.data-cell:first-child{
  font-weight: 800;
}

.attribute-grid:first-child{

  border-top-left-radius: 12px;

}

.attribute-grid:last-child{

  border-top-right-radius: 12px;

}

// =====================================================
// SM
@media (min-width: 	576px) and (max-width: 767.98px) {

  //TODO

}

// =====================================================
// MD
@media (min-width: 	768px) and (max-width: 991.98px) {

  .main-table-grid{

    font-size: 0.85rem;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    // padding: 10px;

  }



}
// =====================================================

// =====================================================
// LG (1st Quarter)
@media (min-width: 992px) and (max-width: 1050px) {

  .main-table-grid{

    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    // padding: 10px;

  }


}

// LG (2nd Quarter)
@media (min-width:  1051px) and (max-width: 1100px) {

  .main-table-grid{

    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    // padding: 10px;

  }

}

// LG (3rd Quarter)
@media (min-width:  1101px) and (max-width: 1150px) {

  .main-table-grid{

    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    // padding: 10px;

  }

}

// LG (4th Quarter)
@media (min-width: 1151px) and (max-width: 1199.98px) {



}
// =====================================================

// =====================================================
// XL (Lower)
@media (min-width: 	1200px) and (max-width: 1299.98px) {


}

// XL (Upper)
@media (min-width: 1300px) and (max-width: 1399.98px) {


}
// =====================================================

// =====================================================
// XXL
@media (min-width: 1400px) {





}
