.main-content-container{

  margin-left: 25px;
  // padding: 1.5rem;

}

hr{

  color: #3d573f;
  border: 1px solid #3d573f;

}

h5{

  // color: rgb(185, 156, 39);
  color:rgb(54, 54, 54);
  font-weight: 600;

}


.dataset-grid {
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.grid-item {

  cursor: pointer;
  width: 200px;
  height: 150px;
  background: #f2f2f2;
  margin-left: 10px;
  border-radius: 8px;
  text-align: center;
  font-weight: 600;
  color: #1c1c1c;
  box-shadow: 1px 2px 6px #8b8b8b;

}


.grid-item:hover {
  background: rgba(0,0,0,0.5);
  transition: background-color 0.3s linear;
  color: black;
  transition: color 0.3s linear;
}

.dataset-title{
  position: relative;
  top: 20px;
  text-align: center;

}

.dataset-title:hover{

  transition: filter 0.3s linear;

}

#iris-grid{

  background-image: url('/assets/images/iris.jpg');
  background-size: cover;
  color: rgb(183, 183, 183);

}

#iris-grid:hover{

  background-blend-mode:luminosity;
  color: white;
  transition: color 0.3s linear;

}

#heart-disease-grid{

  background-image: url('/assets/images/heart-disease.jpg');
  background-size: cover;

}

#heart-disease-grid:hover{

  background-blend-mode:luminosity;

}

#bank-marketting-grid{

  background-image: url('/assets/images/bank-marketting.jpg');
  background-size: cover;

}

#bank-marketting-grid:hover{

  background-blend-mode:luminosity;

}

#student-performance-grid{

  background-image: url('/assets/images/student-performance.jpg');
  background-size: cover;
  // background-blend-mode:hard-light;

}

#student-performance-grid:hover{

  background-blend-mode:luminosity;
  color: rgb(0, 0, 0);
  transition: color 0.3s linear;

}

.custom-button{

  width: 50px;
  height: 38px;
  border: none;
  border-radius: 8px;
  background-color: rgb(42, 121, 42);
  box-shadow: 1px 2px 4px rgb(118, 118, 118);
  color: white;
  font-weight: 600;

}

.custom-submit-button{

  width: 100%;
  height: 45px;
  border: none;
  border-radius: 8px;
  background-color: rgb(42, 121, 42);
  box-shadow: 1px 1px 4px rgb(118, 118, 118);
  color: white;
  font-weight: 600;

}


.custom-button:hover, .custom-submit-button:hover{

  color: rgb(255, 255, 255);
  background-color: #236429;
  box-shadow: 1px 1px 1px rgb(118, 118, 118);
  transition: 0.25s background-color ease-in;
  transition: 0.25s color ease-in;
  transition: 0.25s box-shadow ease-in;

}

.jumbotron{

  padding: 20px;
  background-color:rgb(134, 159, 134);
  // background-color:rgb(192, 143, 58);

}

.jumbotron-header{

  text-shadow: 2px 2px 4px rgba(28, 28, 28, 0.5);

}

// =====================================================
// SM
@media (min-width: 	576px) and (max-width: 767.98px) {

  //TODO

}

// =====================================================
// MD
@media (min-width: 	768px) and (max-width: 991.98px) {

  .container{

    max-width: 991.98px;

  }

  .dataset-grid {
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .grid-item {

    margin: 10px;

  }

  .jumbotron{

    width: 100%;
    padding: 20px;
    background-color:rgb(159, 181, 159);

  }

  .jumbotron-header{

    margin-top: 100px;

    h2{
      font-size: 3rem;
      color:#f2f2f2;
    }

  }

  .jumbotron-paragraph{

    margin-bottom: 100px;

    p{
      font-size: 1.2rem;
    }

  }

}
// =====================================================

// =====================================================
// LG (1st Quarter)
@media (min-width: 992px) and (max-width: 1050px) {

  .container{

    width: 850px;

  }

  .main-content-container{

    margin-left: 100px;

  }

  .custom-button{

    margin-left: 30px;

  }

  // .jumbotron{

  //   padding: 20px;
  //   // border: 1px solid;
  //   background-color:rgb(159, 181, 159);
  //   // background: linear-gradient(140deg, rgb(111, 147, 111) 5%, #ffffff 100%);

  // }

  .jumbotron-header{

    margin-top: 100px;

    h2{
      font-size: 3rem;
      color:#f2f2f2;
    }

  }

  .jumbotron-paragraph{

    margin-bottom: 100px;

    p{
      font-size: 1.2rem;
    }

  }


}

// LG (2nd Quarter)
@media (min-width:  1051px) and (max-width: 1100px) {

  .container{

    width: 900px;

  }

  .main-content-container{

    margin-left: 80px;


  }

  .custom-button{

    margin-left: 30px;

  }


  .jumbotron-header{

    margin-top: 100px;

    h2{
      font-size: 3rem;
      color:#f2f2f2;
    }

  }

  .jumbotron-paragraph{

    margin-bottom: 100px;

    p{
      font-size: 1.2rem;
    }

  }


}

// LG (3rd Quarter)
@media (min-width:  1101px) and (max-width: 1150px) {

  .container{

    width: 900px;

  }

  .main-content-container{

    margin-left: 50px;

  }

  .custom-button{

    margin-left: 30px;

  }

  .jumbotron-header{

    margin-top: 100px;

    h2{
      font-size: 3rem;
      color:#f2f2f2;
    }

  }

  .jumbotron-paragraph{

    margin-bottom: 100px;

    p{
      font-size: 1.2rem;
    }

  }


}

// LG (4th Quarter)
@media (min-width: 1151px) and (max-width: 1199.98px) {

  .container{

    width: 1000px;

  }

  .main-content-container{

    margin-left: 10px;

  }

  .custom-button{

    margin-left: 30px;

  }

  .jumbotron-header{

    margin-top: 100px;

    h2{
      font-size: 3rem;
      color:#f2f2f2;
    }

  }

  .jumbotron-paragraph{

    margin-bottom: 100px;

    p{
      font-size: 1.2rem;
    }

  }


}
// =====================================================

// =====================================================
// XL (Lower)
@media (min-width: 	1200px) and (max-width: 1299.98px) {

  .container{

    width: 900px;

  }

  .main-content-container{

    margin-left: 140px;

  }

  .custom-button{

    margin-left: 30px;

  }

  .jumbotron-header{

    margin-top: 100px;

    h2{
      font-size: 3rem;
      color:#f2f2f2;
    }

  }

  .jumbotron-paragraph{

    margin-bottom: 100px;

    p{
      font-size: 1.2rem;
    }

  }

}

// XL (Upper)
@media (min-width: 1300px) and (max-width: 1399.98px) {

  .main-content-container{

    margin-left: 100px;

  }

  .custom-button{

    margin-left: 30px;

  }

  .jumbotron-header{

    margin-top: 100px;

    h2{
      font-size: 3rem;
      color:#f2f2f2;
    }

  }

  .jumbotron-paragraph{

    margin-bottom: 100px;

    p{
      font-size: 1.2rem;
    }

  }

}
// =====================================================

// =====================================================
// XXL
@media (min-width: 1400px) {

  .container{

    width: 1100px;

  }

  .main-content-container{

    margin-left: 180px;

  }

  .jumbotron-header{

    margin-top: 100px;

    h2{
      font-size: 3rem;
      color:#f2f2f2;
    }

  }

  .jumbotron-paragraph{

    margin-bottom: 100px;

    p{
      font-size: 1.2rem;
    }

  }



}
// =====================================================

input.form-control{

  width: 96px;

}


