<div #mainContentContainer
  class="container main-content-container mt-4">

  <div class="row">
    <!-- Section Title -->
    <div class="col">
      <h5>Which dataset do you want to tinker on?</h5>
    </div>
  </div>

  <div class="row dataset-grid mb-5">

    <div id="iris-grid" class="grid-item">
      <div class="bg-img"></div>
      <div class="dataset-title">
        Iris
      </div>
    </div>

    <div id="heart-disease-grid" class="grid-item">
      <div class="dataset-title">
        Heart Disease
      </div>
    </div>

    <div  id="bank-marketting-grid" class="grid-item">
      <div class="dataset-title">
        Bank Marketting
      </div>
    </div>

    <div id="student-performance-grid" class="grid-item">
      <div class="dataset-title">
        Student Performance
      </div>
    </div>

  </div>

  <div class="row">
    <hr>
  </div>

  <!-- Network Creation Form -->
  <div class="row my-4">
    <h5>
      Create your network
    </h5>
  </div>

  <form class="form-group" [formGroup]="modelCreationForm">
    <div class="row g-3 align-items-end">

      <div class="col-auto">

        <label for="">
          <p>
            Activation
          </p>
        </label>

        <select class="form-select"
          formControlName="numOfLayers">
          <option class="placeholder"
            value=""
            disabled
            selected>
            Choose your activation function
          </option>
          <option>Sigmoid</option>
          <option>ReLU</option>
        </select>

      </div>

      <div class="col-auto">

        <label for="">
          <p>
            Learning Rate
          </p>
        </label>

        <input class="form-control" placeholder="0.015">

      </div>

      <div class="col-auto">

        <label for="">
          <p>
            Optimizer
          </p>
        </label>

        <select class="form-select"
          formControlName="numOfLayers">
          <option>Backpropagation</option>
          <option>Stochastic</option>
        </select>

      </div>
    </div>

  </form>

  <div class="row mt-5">
    <hr>
  </div>

  <!-- Neural Network Canvas -->
  <div class="row my-4">

    <h5>How your network looks like</h5>
  </div>

  <div class="row">
    <div class="col">
      <app-neural-network-visual-canvas></app-neural-network-visual-canvas>
    </div>

    <!-- Layer Shape Form -->
    <div class="col mt-lg-3">
      <form [formGroup]="layerShapeForm" class="form-group">
        <h5>
          <strong>Scaffold Your Network</strong>
        </h5>
        <div class="row">
          <label for="">Input Layer</label>
        </div>

        <div class="row">
          <div class="col-3">
            <input class="form-control"
              formControlName="inputLayer"
              type="number" />
          </div>
        </div>
        <hr>

        <div class="row">
          <div class="col">
            <label for="">Hidden Layers</label>
          </div>
        </div>

        <ng-container formArrayName="hiddenLayer">
          <div *ngFor="let control of hiddenLayer.controls; let i = index" class="row mb-1">

            <div class="col-4
              col-lg-1
              col-xl-3">
                <div class="col">
                  <input class="form-control"
                    [formControlName]="i"
                    placeholder="Layer {{i+1}}"
                    type="number" />
                </div>
            </div>

            <div class="col-8
              col-lg-11
              col-xl-9
              d-flex
              align-items-end
              justify-content-start">
              <button class="custom-button" (click)="addHiddenLayerFormControl()">+</button>
            </div>

          </div>
        </ng-container>

        <hr>
        <div class="row">
          <div class="col">
            <label for="">Output Layers</label>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <input class="form-control"
              formControlName="outputLayer"
              type="number" />
          </div>
        </div>
      </form>
    </div>
  </div>

</div>
