<div class="main-content-container">

  <div class="row">
    <!-- Section Title -->
    <div class="col">
      <h3>Which dataset you want to try out?</h3>
    </div>
  </div>

  <div class="row dataset-grid">

    <div id="iris-grid" class="grid-item">
      <div class="bg-img"></div>
      <div class="dataset-title">
        Iris
      </div>
    </div>

    <div id="heart-disease-grid" class="grid-item">
      <div class="dataset-title">
        Heart Disease
      </div>
    </div>

    <div  id="bank-marketting-grid" class="grid-item">
      <div class="dataset-title">
        Bank Marketting
      </div>
    </div>

    <div id="student-performance-grid" class="grid-item">
      <div class="dataset-title">
        Student Performance
      </div>
    </div>

  </div>

  <div class="row">
    <app-neural-network-visual-canvas></app-neural-network-visual-canvas>
  </div>

</div>
