.sidenav-container-open{

  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #363636;
  // border: 1px solid black;
  width: 200px;
  height: 100vh;
  box-shadow: 2px 2px 2px rgb(150, 150, 150);

}

.sidenav-container-close{

  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #363636;
  // border: 1px solid black;
  width: 100px;
  height: 100vh;
  box-shadow: 2px 2px 2px rgb(150, 150, 150);
  transition: width 0.1s ease-out, background-color 0.25s;

}

.drawer-button-open,
.drawer-button-close {
  transition: left 0.1s ease-out, background-color 0.25s;
}

.drawer-button-open{

  cursor: pointer;

  position: fixed;
  top: 200px;
  left: 180px;
  z-index: 1;

  display: flex;
  align-items: center;

  height: 50px;

  padding: 5px;
  border-radius: 8px;
  background-color: #5a5a5a;
  color: #dadada;

}

.drawer-button-close{

  cursor: pointer;

  position: fixed;
  top: 200px;
  left: 80px;
  z-index: 1;

  display: flex;
  align-items: center;

  height: 50px;

  padding: 5px;
  border-radius: 8px;
  background-color: #5a5a5a;
  color: #dadada;

}


.display-element{

  display: inline-block;
  padding: 5px;

}

.hide-element{

  display: none;

}

.drawer-button-open:hover, .drawer-button-close:hover{

  color: #f2f2f2;
  // background-color: #a0a0a0;
  background-color: #b3831c;
  transition: color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;

}

.logo{

  font-size: 1.6rem;
  font-weight:600;
  text-align: center;
  color: rgb(70, 70, 70);
  padding: 1rem;


  p{
    // background-color: #ffffff;
    background-color: #ffffff;
    border-radius: 50px;
    box-shadow: #f4ab24 1px 2px 2px;
  }

}

ul {
  margin-top: 1rem;
  padding-left: 1.5rem;

  li{
    cursor: pointer;
    list-style: none;
    padding: 0.75rem;
    color: #dadada;

    // To align material icons
    // For some reason it defaults to top align
    display: flex;
    align-items: center;
  }

  li:hover{

    color: #f2f2f2;
    // background-color: #a0a0a0;
    background-color: #b3831c;
    transition: color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;

  }

}

// ===================================================
// MD
@media (min-width: 	768px) and (max-width: 991.98px) {

  .drawer-button-close{

    cursor: pointer;

    position: fixed;
    top: 200px;
    left: 80px;
    z-index: 1;

    display: flex;
    align-items: center;

    height: 50px;

    padding: 5px;
    border-radius: 8px;
    background-color: #5a5a5a;
    color: #dadada;

  }

}
