<div class="sidenav-container">

  <div class="logo">
    <p>doo<span style="color:rgb(42, 110, 59); text-decoration: underline;">dl</span>er.<span style="color:rgb(42, 110, 59);">i</span><span style="color:rgb(42, 110, 59);">o</span></p>
  </div>

  <ul>
    <li routerLink="/dashboard">Dashboard</li>
    <li routerLink="/models">Models</li>
    <li routerLink="/train">Train Model</li>
    <li routerLink="/test">Test/Use Model</li>
    <li routerLink="/history">History</li>
    <li routerLink="/settings">Settings</li>
    <li routerLink="/help">Help</li>
  </ul>
</div>
